<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>

<div class="form-container">
  <h2>Sign Up</h2>
    <form action="/signup" method="POST">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required placeholder="Enter your password">
        </div>
        <div class="form-group">
            <label for="password-confirm">Password confirmation</label>
            <input type="password" id="password-confirm" name="password-confirm" required placeholder="Re-Enter your password">
        </div>
        <div class="form-group">
            <label for="e-mail">E-mail</label>
            <input type="email" id="e-mail" name="e-mail" required placeholder="Enter your E-mail id">
        </div>
        <div class="form-group">
            <label for="number">Phone Number</label>
            <input type="text" id="number" name="number" required placeholder="Enter your Phone Number">
        </div>
        
        <button type="submit" class="submit-btn">SignUp</button>
    </form>
    
</div>

</body>
</html>
